
header{
	font-size: 50px;
	text-align: center;
	margin: 17px 0;
}
body{
	background: url("img/bg.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.container{
    width: 1000px;
    margin: 0 auto;
    background-color: #E5E4E2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:600px;
    overflow: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #817C71;
}

li {
    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
#logout{
	float: right;
    background-color: #817C71;
	margin-left: 5%;
}
#loggedin{
	float: right;
	border-left-color: aqua;
	border-left: thick;
}
#login{
	border-style: dashed;
	margin: 10% auto 10% auto;
	border-spacing: 20px;
	font-size: 15px;
}

input {
	font-size: 20px;
	margin: 0 auto 0 auto;
	border-style: groove;
}
button{
	font-size: 15px;
	font-family: helvetica;
	font-weight: 500;
}
body a{
    text-decoration: none;
}